.gallary img{
    width: 200px;
    height: 200px;
    border: 5px solid #aaa;
}

.gallary img:hover{
    border: 5px solid #080;
    cursor: pointer;
}

.main img{
width: 400px;
height: 400px;
    border: 5px solid #aaa;

}